@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    html{
        text-align:center;
    }
</style>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />

    <title>Home</title>
</head>

<body>

    <h1 class="whead">Welcome to my Portfolio</h1>
    <hr />
    <div>
        <div id="navi">
            <h2>Hello!</h2>
            <p>
                My name is Joel Pamintuan, a Web Developer based in Philippines.<br />
                I'm open for freelance job around the globe.
            </p>
            <br />
            <p>My set of skills are HTML, CSS, Javascript, C#, ASP.Core.</p>
            <img class="pp" src="../pages/assets/Profile picture.jpg" height="100" /><br />
          
            <hr />
            <h2>About me</h2>
            <img class="scc" src="./assets/img/projects/school.jpg" height="80" />
            <p>Gradute of BS Computer Science major in System Development<br /></p>
            <p>
                Working for 8 years in different type of industry<br />
                knowledgable in Computer and networking troubleshooting<br />
                can work as individual with minimum supervision or in a team<br />
            </p>
            <hr />
            <h2>Work Experience</h2>
        </div>

        <iframe src="./public/ojt.html" height="200" width="300" title="Iframe Example"></iframe>
        <iframe src="./public/firstjob.html" height="200" width="300" title="Iframe Example"></iframe>
        <iframe src="./public/secjob.html" height="200" width="300" title="Iframe Example"></iframe>
        <iframe src="./public/thrdjob.html" height="200" width="300" title="Iframe Example"></iframe>

        <hr />
        <div id="proj" class="projects">
            <h2>My Projects</h2>

            <ul>
                <img src="../pages/assets/projects/1.jpg" height="230" />&nbsp;
                <img src="../pages/assets/projects/2.jpg" height="230" />&nbsp;
                <img src="../pages/assets/projects/3.jpg" height="230" />&nbsp;
                <img src="../pages/assets/projects/4.jpg" height="230" />&nbsp;
                <img src="../pages/assets/projects/5.jpg" height="230" />&nbsp;
                <img src="../pages/assets/projects/6.jpg" height="230" />&nbsp;
            </ul>
        </div>
    </div>
    <div id="footir">
        <footer>
            <p>/Author: Joel Pamintuan /<br />/ Copyright:© 2023/</p>
            <p>
                <a href="mailto:jpamintuan26@gmail.com">jpamintuan26@gmail.com</a>
            </p>
        </footer>
    </div>
</body>



</html>